{% extends "base.html" %} 
{% block content %}
{% load static %}
<style>
  h2{
   color: blue;
   display: flex;
   justify-content: center;
  }
  .cont{
    display: flex;


  }
  .pic{
    width:50%;
    height: 100%;
    display: flex;
     }
</style>
    <body>
      <div class="cont">
      <div class="pic">
     <!-- <a href="{% static 'logo.jpeg' %}">
    <img src="{% static 'logo.jpeg' %}" alt="Logo">
</a> -->
      </div>
      <div class="form">
        <div class="container
         m-4" id="logindiv">
            <h2 class="pb-3 " >Login Now</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" name="email"
                        placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control"
                       name="password" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
              <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Reset Password</button>

                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </form>
        </div>
        </div>
        </div>

<div style="top:0 ; position:fixed; " class="container m-5">
{% if messages %}
{% for message in messages %}
<div class="alert alert-primary alert-dismissible fade show" role="alert">
  <strong>{{ message }}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Reset Password</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% comment %} <form action="{% url 'reset_password' %}"  method="post"> {% endcomment %}
            {% csrf_token %}
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Enter registered mail:</label>
            <input type="email" class="form-control" name="email">
          </div>
         
     
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Send new password</button>
      </div>
         </form>
    </div>
  </div>
</div>
{% endblock %}