{% extends "base.html" %} 
{% block content %}

<div class="register">
<form class="row g-3" method="post">
    {% csrf_token %}
  
  <div class="col-12">
    <label for="inputAddress" class="form-label">question</label>
    <input type="text" class="form-control" name="questions" placeholder="">
  </div>
  
  
    
  <div class="col-md-6">
    <label for="inputCity" class="form-label">option a</label>
    <input type="text" class="form-control" name="opt_a">
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">option b</label>
    <input type="text" class="form-control" name="opt_b">
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">option c</label>
    <input type="text" class="form-control" name="opt_c">
  </div>
  <div class="col-md-6">
  <label for="inputCity" class="form-label">option d</label>
    <input type="text" class="form-control" name="opt_d">
  </div>
    <div class="col-md-6">
  <label for="inputCity" class="form-label">answer</label>
    <input type="text" class="form-control" name="answer">
  </div>  <div class="col-md-6">
  <label for="inputCity" class="form-label">marks</label>
    <input type="number" class="form-control" name="marks">
  </div>
  <div class="col-md-4">
    <label for="inputState.
    " class="form-label">job profile {{ job_data|length }}</label>
    <select name="job" class="form-select">
            <option  disabled selected>-- Select job profile --</option>
            
    {% for job in job_data %}
  
      <option value="{{ job.id }}">{{ job.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">save question</button>
  </div>
</form>
</div>
{% endblock %}
{% comment %} <div class="register">
  <div class="reg">
    <div class="container">
      <h3 style="display: flex; justify-content: center">Register here!</h3>
      <form class="mt-1" method="post">
        {% csrf_token %}

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >:
          </label>
          <input
            type="text"
            class="form-control"
            name="fullname"
            aria-describedby="emailHelp"
            required
          />
        </div>

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address :</label
          >
          <input
            type="email"
            class="form-control"
            name="email"
            aria-describedby="emailHelp"
            required
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Enter password :</label
          >
          <input
            type="text"
            class="form-control"
            name="password"
            aria-describedby="emailHelp"
            required
          />
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"
            >Mobile number:</label
          >
          <input type="number" class="form-control" name="mobileno" required />
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">D.O.B :</label>
          <input
            type="number"
            class="form-control"
            name="dateofbirth"
            required
          />
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"
            >Address :</label
          >
          <textarea class="form-control" name="address" required> </textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div> {% endcomment %}
{% comment %} {% endblock %} {% endcomment %}