{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Page Header Start -->
    <div class="page-header">
      <div class="container">
        <div class="row">         
          <div class="col-lg-12">
            <div class="inner-header">
              <h3>Find Job</h3>
            </div>
            <div class="job-search-form">
              <form method="GET">
                {% csrf_token %}
                <div class="row">
                  <div class="col-lg-5 col-md-5 col-xs-12">
                    <div class="form-group">
                      <input class="form-control" type="text" name="q" placeholder="Job Title or Company Name" value="{{ query }}">
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-5 col-xs-12">
                    <div class="form-group">
                      <div class="search-category-container">
                        <label class="styled-select">
                          <select name="location">
                            <option value="">Locations</option>
                            {% for loc in location_list %}
                              <option value="{{ loc }}" {% if location == loc %}selected{% endif %}>{{ loc }}</option>
                            {% endfor %}
                          </select>
                        </label>
                      </div>
                      <i class="lni-map-marker"></i>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-5 col-xs-12">
                    <div class="form-group">
                      <div class="search-category-container">
                        <label class="styled-select">
                          <select name="category">
                            <option value="">All Categories</option>
                            {% for skill in all_skills %}
                              <option value="{{ skill }}" {% if category == skill %}selected{% endif %}>{{ skill }}</option>
                            {% endfor %}
                          </select>
                        </label>
                      </div>
                      <i class="lni-layers"></i>
                    </div>
                  </div>
                  <div class="col-lg-1 col-md-2 col-xs-12">
                    <button type="submit" class="button"><i class="lni-search"></i></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Header End --> 
  <!-- Listings Section Start -->
  <section id="job-listings" class="section">
    <div class="container">
      <div class="section-header">
        <h2 class="section-title">Featured Jobs</h2>
        <p>Hand-picked jobs featured depending on popularity and benefits</p>
      </div>
      <div class="row">
        {% for job in jobs %}
          <div class="col-lg-6 col-md-12 col-xs-12">
            <a class="job-listings-featured" href="{% url 'job_details' job.id %}">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                  <div class="job-company-logo">
                    <img src="/static/img/features/img{{ forloop.counter|add:0 }}.png" alt="{{ job.created_by.company.name }}" />
                  </div>
                  <div class="job-details">
                    <h3>{{ job.title }}</h3>
                    <span class="company-neme">{{ job.created_by.company.name }}</span>
                    <div class="tags">
                      <span><i class="lni-map-marker"></i> {{ job.location }}</span>
                      <span><i class="lni-user"></i> {{ job.created_by.fullname }}</span>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 text-right">
                  <div class="tag-type">
                    <span class="heart-icon"><i class="lni-heart"></i></span>
                    {% if job.experience <= 1 %}
                      <span class="full-time">Full Time</span>
                    {% else %}
                      <span class="part-time">Part Time</span>
                    {% endif %}
                  </div>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
        <div class="col-12 text-center mt-4">
          <a href="/job-page/" class="btn btn-common">Browse All Jobs</a>
        </div>
      </div>
    </div>
  </section>
  <!-- Listings Section End -->
{% endblock %}
