{% extends "base2.html" %} 
{% block content %}

<div class="register">
  <div class="reg">
    <div class="container">
      <h3 style="display: flex; justify-content: center">Create Vacancy</h3>
      <form class="mt-1" method="post">
        {% csrf_token %}

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Title :
          </label>
          <input
            type="text"
            class="form-control"
            name="title"
            aria-describedby="emailHelp"
            required
          />
        </div>

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Experience:</label
          >
          <input
            type="number"
            class="form-control"
            name="experience"
            aria-describedby="emailHelp"
            required
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"
            >discription :</label
          >
          <textarea class="form-control" name="discription" required> </textarea>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Deadline :</label
          >
          <input
            type="date"
            class="form-control"
            name="deadline"
            aria-describedby="emailHelp"
            required
          />
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"
            >Skills:</label
          >
          <input type="text" class="form-control" name="skills" required />
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Education</label>
          <input
            type="text"
            class="form-control"
            name="education"
            required
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Min Salary</label>
          <input
            type=""number
            class="form-control"
            name="minsalary"
            required
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Max salary</label>
          <input
            type="number"
            class="form-control"
            name="maxsalary"
            required
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Location</label>
          <input
            type="text"
            class="form-control"
            name="location"
            required
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Total Vacancy</label>
          <input
            type="number"
            class="form-control"
            name="vacancies"
            required
          />
        </div>


        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
# title 
# experinec
# discription
# resume
# skills
# education
# sallary range
# starrrt end sallary
# employee id
# company id